image: 'maven:3-jdk-8'

stages:
  - test
  - build

maven-test:
  stage: test
  script: "mvn test"
  
maven-build:
  stage: build
  script: "mvn package"
  
variables:
  MYSQL_DATABASE: springDB
  MYSQL_USER: root
  MYSQL_PASSWORD: root
  MYSQL_ROOT_PASSWORD: root